*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header rules */
#ms_header_row{
    height: 70px;
    width: 100%;
    padding: 0 15px;
    column-gap: 13px;
}

header img{
    max-height: 40px;
    max-width: 150px;
}

#search{
    background-color: #e5e5e5;
    border-radius: 4px;
    padding: 0 10px;
}

#search-bar{
    border: none;
    width: calc(100% - 21px);
    background-color: #e5e5e5;
    padding: 7px;
}

header .col-auto{
    position: relative;
}

header a{
    height: 24px;
    color: #ff8f02;
}

header ul{
    position: absolute;
    bottom: -135px;
    right: 15px;
    list-style: none;
    box-shadow: 0px 0px 5px #000;
    padding: 5px 0;
    border-radius: 4px;
}

header li{
    width: 140px;
    padding: 5px;
    border-radius: 4px;
}

/* main rules */
main{
    height: calc(100vh - 70px);
}

/* sidebar rules */
#sidebar{
    width: 150px;
    height: 100%;
    padding: 25px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(5,30,52,1) 0%, #183149 100%);
    color: #fff;
}

#sidebar .sidebar_option{
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

#sidebar #last_option{
    position: absolute;
    bottom: 0px;
}

#sidebar i{
    width: 25px;
}

#sidebar::before {
    background: rgba(5,30,52,1);
    content: '';
    display: block;
    width:300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: -120px;
    transform: rotate(45deg);
    z-index: 0;
}

@media screen and (min-height:1500px) {
    #sidebar::after {
        background: rgba(5,30,52,1);
        content: '';
        display: block;
        width:300px;
        height: 300px;
        position: absolute;
        left: 0;
        bottom: -90px;
        transform: rotate(45deg);
        z-index: 0;
    }
}