/* header rules */
header img{
    width: 100%;
    min-width: 34px;
    max-width: 230px;
    max-height: 50px;
}

#search{
    background-color: #e5e5e5;
    border-radius: 4px;
}

#search-bar{
    border: none;
    width: calc(100% - 21px);
    background-color: #e5e5e5;
    padding: 7px;
}

#ms_header_row{
    padding: 15px;
    column-gap: 13px;
}

header .col-1{
    position: relative;
}

header a{
    height: 24px;
    color: #ff8f02;
}

header ul{
    position: absolute;
    bottom: -135px;
    right: 10px;
    list-style: none;
    box-shadow: 0px 0px 5px #000;
    padding: 5px 0;
    border-radius: 4px;
}

header li{
    width: 140px;
    padding: 5px;
    border-radius: 4px;
}